
body {
  font-size: 90px;
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../blue_1.png");
  background-attachment: fixed;
  color: rgba(0, 10, 0, 0.65);
  z-index: 10;
}

.banner {
  font-size: 500%;
  color: rgba(255, 255, 255, 0.80);
}

.detail {
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
}

.frame1 {
  padding: 50px;
  border: 3px solid rgba(255, 0, 0, 0.75);
  background-image: url("../color_1.png");
  padding: 80px;
  z-index: 2;
}

mark {
  background-color: rgba(255, 245, 0, 0.85);
  color: rgba(0, 10, 0, 0.65);
}

header {
  padding-left: 10px;
  font-size: 70px;
  left: 20px;
  position: fixed;
  top: 10px;
  color: rgba(255, 0, 0, .8);
  width: 100%;
  z-index: -1;
}

footer {
  padding-left: 10px;
    font-size: 70px;
  color: rgba(255, 0, 0, .8);
  position: fixed;
  bottom: 10px;
  left: 20px;
  z-index: -1;
}
